/* body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
} */

ol, ul {
  padding-left: 30px;
}

.buttons-row:after {
  clear: both;
  content: "";
  display: table;
}

.expression-text {
  margin-bottom: 10px;
  font-family: Courier New, monospace;
  font-size: 17px;
}
.result-text {
  margin-bottom: 10px;
  font-family: Courier New, monospace;
  font-size: 15px;
}


.button {
  background: rgb(0, 0, 0);
  border: 1px solid rgb(207, 49, 49);
  color:white; /* this is for text color */
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.doublebutton {
  background: rgb(0, 0, 0);
  border: 1px solid rgb(207, 49, 49);
  color:white; /* this is for text color */
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 67px;  /*I don't know why it doesn't look aligned when I use 68 pixels, which is exactly double 34.*/
}

.helpsection {
  margin-top: 5px;
}
.displaypanel {
  margin-top: 25px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
